<%= bootstrap_form_for @dependente do |f| %>
  <% if dependente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dependente.errors.count, "error") %> prohibited this dependente from being saved:</h2>

      <ul>
      <% dependente.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :nome %>
  </div>

  <div class="field">
    <%= f.text_field :cpf %>
  </div>

  <div class="field">
    <%= f.text_field :filiacao %>
  </div>

  <div class="field">
    Associado ao <%= f.select :funcionario, @funcionario.collect { |f| [f.nome, f.id]} %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
