<p id="notice"><%= notice %></p>

<h1>Dependentes</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Cpf</th>
      <th>Filiacao</th>
      <th>Funcionario</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dependentes.each do |dependente| %>
      <tr>
        <td><%= dependente.nome %></td>
        <td><%= dependente.cpf %></td>
        <td><%= dependente.filiacao %></td>

        <td><%= link_to 'Ver', dependente %></td>
        <td><%= link_to 'Editar', edit_dependente_path(dependente) %></td>
        <td><%= link_to 'Deletar', dependente, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
